<div id="starfield" class="container relative"></div>
<div id="viewport"></div>
<a id='single-player-ww-link' class='game-link' href="/single-ww">Single WW Player</a>
<a id='single-player-link' class='game-link' href="/single">Single Player</a>
<a id='multi-player-link' class='game-link' href="/multi">Multi Player</a>
<div id="info">
    <div id="energy-bar"></div>
</div>
<div id="radar"></div>
<div id="score">Score: <span id="score-value">0</span></div>